html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: rgb(5, 36, 12);
    background-color: rgb(245, 250, 240);
}


.header-container {
    display: flex;
    flex-direction: column;
    color: rgb(245, 255, 235);
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(7, 63, 12), rgb(5, 50, 10));
}

.header-text {
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 4vw;
    font-weight: bold;
    font-style: oblique;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 250, 240);
    color: rgb(5, 36, 12);
    padding: 20px 40px;
    text-align: left
}

.intro-text {
    flex: 1;
    padding: 0px 50px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-size: 5vw;
    font-weight: 800;
    font-style: oblique;
    line-height: 1.1;
}

.intro-image {
    flex: 2;
    display: flex;
    justify-content: center;
    margin: 0;
    align-self: center;
}

.intro-image img {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 50vw;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
}

.intro-brief-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.intro-brief {
    flex: 2;
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    font-weight: bold;
    font-style: oblique;
    line-height: 1.6;
    margin-left: 7vw;
    max-width: 40vw;
}

.intro-brief-container-button {
    background-color: rgb(7, 63, 12);
    color: rgb(245, 255, 235);
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 7vw;
}

.intro-brief-container-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.18);
    transition: 0.25s ease;
}

.project-title {
    background: linear-gradient(rgb(7, 63, 12), rgb(5, 50, 10));
    color: rgb(245, 255, 235);
    margin-left: 4.2vw;
    width: 8vw;
    padding: 20px;
    border-radius: 20px;
    font-size: 2vw;
}

.project-row {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.project-row h2{
    font-size: 1.5vw;
}

.project-row p{
    font-size: 1vw;
    margin: 10px 50px;
    font-weight: 500;
    text-align: center;
}

.project-card {
    background-color: rgb(245, 250, 240);
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-bottom: 40px;
    width: 28vw;
    height: 20vw;
}

.project-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 3vw;
    margin-left: 4vw;
    width: 23vw;
}

.project-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vw; 
    width: 23vw;
}

.project-block h2 {
    background-color: rgb(7, 63, 12);
    padding: 20px 25px;
    color: white;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
    font-size: 1.5vw;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.18);
    transition: 0.25s ease;
}

.project-image {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 12px;
}

.project-description {
    text-align: center;
    width: 20vw;
    font-size: 0.95vw;
    line-height: 1.4;
    color: #2b3a2d;
    opacity: 0.9;
}

.footer-container {
    display: flex;
    flex-direction: column;
    color: rgb(245, 255, 235);
    padding: 1vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(7, 63, 12), rgb(5, 50, 10));
}

.footer-container h2 {
    font-size: 1.7vw;
}

.footer-separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
}

.footer-divider {
    width: 1px;
    height: 9vw;
    background-color: rgba(255, 255, 255, 0.25); /* subtle white line */
}

.footer-connect {
    display: flex;
    flex-direction: column;
}

.footer-connect-image {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.footer-image {
    width: 3.5vw;
    height: 3.5vw;
    object-fit: contain;
}

.footer-image:hover {
    transform: scale(1.15);
    transition: 0.2s ease;
}

.footer-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.profile-detail-container h2 {
    font-size: 3.5vw;
    margin-bottom: 0.8vw;
    line-height: 1;
    font-style: oblique;

}

.profile-detail-container ul {
    font-size: 1.5vw;
    margin-left: 1vw;
    line-height: 1.6;
}

.profile-detail-p {
    font-size: 2vw;
    padding: 1vw;
    padding-left: 5vw;
}

.profile-detail-h {
    font-size: 1.7vw;
    line-height: 1.6;
    margin-top: 20px;
    margin-left: 5vw;
    max-width: 60vw;
}

.profile-education-title {
    background: linear-gradient(rgb(7, 63, 12), rgb(5, 50, 10));
    color: rgb(245, 255, 235);
    font-style: oblique;
    padding: 1vw 2vw;
    border-radius: 20px;
    font-size: 4vw;
    margin-top: 3vw;
    text-align: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.profile-education-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    margin-top: 3vw;
    gap: 4vw;
    margin-bottom: 3vw;
}

.profile-education-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(245, 250, 240);
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.10);
    margin-bottom: 40px;
    width: 26vw;
    height: 30vw;
}

.profile-education-block h2 {
    font-size: 2.5vw;
    text-align: center;
}

.profile-education-school {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-education-block img {
    width: 10vw;
    height: 10vw;
    object-fit: contain;
    margin: 0;
    background-color: rgb(7, 63, 12);
    padding: 0.5vw;
    border-radius: 20px;
}

.profile-education-school h2 {
    font-size: 1.8vw;
    background-color: rgb(7, 63, 12);
    color: white;
    padding: 1vw;
    border-radius: 0 10px 10px 0;
}

.profile-education-description {
    position: relative;
    padding-top: 2vw;
    font-size: 1.2vw;
    text-align: center;
    margin: 0 2vw;
    line-height: 1.4;
}

.profile-interest-title {
    font-style: oblique;
    font-size: 4vw;
    margin-top: 6vw;
    text-align: center;
}

.profile-interest-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
}

.profile-interest-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(245, 250, 240);
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.10);
    margin-bottom: 40px;
    width: 40vw;
    height: 18vw;
}

.profile-interest-block h2 {
    background: linear-gradient(rgb(7, 63, 12), rgb(5, 50, 10));
    color: rgb(245, 255, 235);
    padding: 1vw;
    font-size: 2.5vw;
    text-align: center;
}


.profile-interest-description {
    position: relative;
    padding-top: 1vw;
    font-size: 1.2vw;
    text-align: center;
    margin: 0 2vw;
    line-height: 1.4;
}

.profile-knowledge-title {
    font-style: oblique;
    font-size: 4vw;
    margin-top: 6vw;
    text-align: left;
    margin-left: 5vw;
}

.profile-knowledge-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5vw;
    gap: 3vw;
    padding: 0 5vw;
}

.profile-knowledge-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 250, 240);
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.10);
    padding: 1vw;
}

.profile-knowledge-block-title {
    background-color: #0d4018;
    color: rgb(245, 255, 235);
    display: inline-block;
    border-radius: 10px;
    padding: 1vw 2vw;
    font-size: 1.7vw;
    font-style: oblique;
    font-weight: 700;
}

.profile-knowledge-block ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2vw;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-knowledge-block li {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
    align-items: center;
    gap: 1vw;
}

.skill-bar {
    height: 1vw;
    width: 8vw;
    background: #d7e5d1;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.skill-fill {
    height: 100%;
    background: #053b0b;
}

.project-detail-container {
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    padding: 20px;
    font-family: "Inter", sans-serif;
    align-items: center;
    justify-content: center;
}

.project-detail-image {
    flex: 1;
    width: 100%;
    max-width: 30vw;
    max-height: 30vw;
    border-radius: 20px;
    display: block;
    margin: 20px 30px;
}

.project-detail-text {
    flex: 3;
    font-size: 1.7vw;
    line-height: 1.6;
    margin-top: 20px;
    margin-left: 30px;
    max-width: 60vw;
}

.project-detail-card-row {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin: 3vw 5vw;
}

.project-detail-card {
    flex: 1;
    background-color: rgb(245, 250, 240);
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.10);
    padding: 10px 20px;
}

.project-detail-card h2 {
    background-color: #0d4018;
    color: rgb(245, 255, 235);
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    font-style: oblique;
    font-size: 1.7vw;
    margin-bottom: 10px;
}

.project-detail-card ul {
    font-size: 1.3vw;
    width: 80%;
    margin-left: 1.7vw;
}

.project-detail-extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.5vw;
}

.project-detail-tech-used {
    background-color: #0d4018;
    color: rgb(245, 255, 235);
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    font-style: oblique;
    font-weight: 700;
    margin-left: 80px;
}

.project-detail-extra p{
    font-weight: 700;
}

/* Width and base style */
::-webkit-scrollbar {
    width: 10px;
}

/* Track background */
::-webkit-scrollbar-track {
    background: rgb(245, 250, 240);        /* matches your intro background */
    border-radius: 10px;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
    background: rgb(7, 63, 12);            /* your dark green theme */
    border-radius: 10px;
    border: 2px solid rgb(245, 250, 240);  /* creates a clean pill effect */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 50, 10);            /* slight darken */
}
